!!!
%html
  %head
    %title URL Shortener Tool
    %meta{ :charset => 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge' }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' }
    %meta{ :name => 'keywords', :content => 'URL Shortener, Short Urls, Tiny Urls' }
    %meta{ :name => 'description', :content => 'URL Shortener tool, generates short version of URLs and allows to open them.' }

    = stylesheet_link_tag    "application", :media => 'all'
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    / Header
    = render 'shared/header'

    / Content
    .container
      = yield

    / Footer
    = render 'shared/footer'